<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:ios="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-filepicker"
        version="1.0.0">
   
    <name>OpenFiles</name>
    <description>Opens file manager and returns file as binary data</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OpenFiles">
                <param name="android-package" value="com.example.openfiles.OpenFiles" />
            </feature>
        </config-file>
        <source-file src="src/android/OpenFiles.java" target-dir="src/com/example/openfiles/OpenFiles" />
    </platform>

   <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenFiles">
                <param name="ios-package" value="OpenFiles"/>
            </feature>
        </config-file>
        <source-file src="src/ios/OpenFiles.m" framework="true"/>
    </platform>
    
    <js-module src="www/OpenFiles.js" name="OpenFiles">
        <clobbers target="cordova.plugins.OpenFiles" />
    </js-module>


</plugin>